
body{
    margin: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
    overflow-y: auto;
}

header{
   height : auto;
}

.header-top{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.home-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(254, 110, 13, 0.83), rgba(227, 131, 13, 0.5));
}


.home-img img {
    width: 100%;
    height: auto;
    max-height: 62vh; /* Set a specific height to make the image smaller */
    object-fit: contain;
    flex-direction: row;
    background-position: center top;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.stick-logo{
    margin-top: 5px;
    width: 12em;
    height: 12em;
}

.rainbow-text span:nth-child(1), 
    span:nth-child(10), span:nth-child(14),
    span:nth-child(18), span:nth-child(26){
        color: rgb(255, 123, 0); 
    }

.rainbow-text span:nth-child(2),span:nth-child(15),
    span:nth-child(8), span:nth-child(19), span:nth-child(23){
        color: purple;
    }

.rainbow-text span:nth-child(3), span:nth-child(9),
    span:nth-child(22), span:nth-child(16), span:nth-child(28){
        color: rgb(208, 98, 2); 

    }

.rainbow-text span:nth-child(4), span:nth-child(11),span:nth-child(7),
    span:nth-child(21), span:nth-child(17), span:nth-child(27){
        color: red; 
    }   

.rainbow-text span:nth-child(5), span:nth-child(12),
    span:nth-child(20), span:nth-child(25){
        color: blue;
    }
.rainbow-text span:nth-child(6), span:nth-child(13),
    span:nth-child(24){
        color: green;
    }

.rainbow-text{
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    text-align: center;
}

.navbar{
    background-color: rgba(255, 74, 74, 0.819);
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin : 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navbar li{
    margin: 0 15px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.blue-middle-bar{
    background-color: rgba(255, 251, 136, 0.853);
    height: 175px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 10px;

}
.icon-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    font-size: 1em;

}

.icon-text img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

h1{
    align-items: center;
    font-size: 2em;
}
.about{
    background-color: rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674);
    font-family: 'Baloo 2', cursive;
}

.about-page-top{
    background-color: rgba(254, 151, 83, 0.791);
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 100%;
}

.about-page-header{
    font-size: 2em;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    height: 10vh;
    background-color: rgba(254, 151, 83, 0.791);
    padding-top: 20px;
}

.about-page-top img{
    width: 20vh;
    height: auto;
    object-fit: contain;
    padding-right: 20px;
}

.about-page-two{
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    font-family: 'Baloo 2', cursive;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

.about-page-two img{
    width: 15vh;
    height: auto;
    object-fit: contain;
    padding-left: 20px;
}

.about-page-three{
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
    font-family: 'Baloo 2', cursive;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

.about-page-three img{
    width: 20vh;
    height: auto;
    object-fit: contain;
    padding-right: 20px;
}

.grid-container{
    display: grid;
    grid-template-rows: auto;
}

.grid-item{
    display : flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 1em;
}



.story-time{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
}

.story-time-img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-time-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.text-left, .text-right{
    width: 33.3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer{
    background-color: rgba(187, 119, 255, 0.912);
    color: rgb(24, 2, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 100px;
}

.footer-section{
    flex: 2;
    text-align: center;
}

.footer-divider{
    width: 5px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin: 0 10px;
}

/*grid container so that picture is on right and words on
left
*/
.story-hour-outer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(255, 146, 73, 0.765), rgba(227, 131, 13, 0.5));
    height: auto;
    width: 100%;
}

.story-hour-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 20px;
}

.story-hour-header{
    font-size: 2em;
    font-weight: bold;
}

.story-hour-outer img{
    max-width:100%;
    max-height: 100%;
    object-fit: contain;
}

.puppet-outer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    height: auto;
    width: 100%;
    
}

.puppet-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-right: 20px;
}

.puppet-outer img{
    width: 30vh;
    height: auto;
    margin-left: 40px;
    object-fit: cover;
    align-items: center;
}

.puppet-outer-two{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(83, 255, 80, 0.813), rgba(153, 255, 94, 0.5));
    height: auto;
    width: 100%;
}

.puppet-outer-two img{
    width: 30vh;
    height: auto;
    margin-left: 30px;
    object-fit: cover;
    align-items: center;
}

.puppet-words-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 40px;
}

.involve-outer-one{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(255, 146, 73, 0.765), rgba(227, 131, 13, 0.5));
    height: auto;
    width: 100%;
}

.involve-header{
    font-size: 2em;
    font-weight: bold;
}

.involve-outer-words-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 20px;
}

.involve-outer-one img{
    max-width:100%;
    max-height: 100%;
    object-fit: contain;
}

.involve-outer-two{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    height: auto;
    width: 100%;
}

.involve-words-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-right: 20px;
}

.involve-outer-two img{
    width: 30vh;
    height: auto;
    margin-left: 40px;
    object-fit: cover;
    align-items: center;
}

.involve-outer-three{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(83, 255, 80, 0.813), rgba(153, 255, 94, 0.5));
    height: auto;
    width: 100%;
}

.involve-outer-three img{
    width: 30vh;
    height: auto;
    margin-left: 30px;
    object-fit: cover;
    align-items: center;
}

.involve-words-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 40px;
}

/*Make home page text boxes interactive*/
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 30vh - 100px);
    flex-grow: 1;
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
    flex-direction: column;  
  }
  .text-box {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    box-sizing: border-box;
  }
 
  button, .arrow {
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
  }

  .team-header-top{
    background-color: rgba(254, 151, 83, 0.791);
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    height: 30vh;
  }

  .team-header-top img{
    width: 20vh;
    height: auto;
    object-fit: contain;
    padding-right: 20px;
  }

  .team-page-two{
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
}

.team-page-two img{
    width: 15vh;
    height: auto;
    object-fit: contain;
    padding-left: 20px;
}

.team-page-three{
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25vh;
}

.team-page-three img{
    width: 20vh;
    height: auto;
    object-fit: contain;
    padding-right: 20px;
}


