
body{
    margin: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
    overflow-y: auto;
}

header{
   height : auto;
}

.header-top{
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.home-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 235, 213);
    
}

.home-img img {
    width: 100%;
    height: auto;
    max-height: 60vh; /* Set a specific height to make the image smaller */
    max-width: 90%; /* Ensure the image does not exceed the container's width */
    object-fit: cover;
    border: 5px solid #ccc;
    background-position: center top;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.stick-logo{
    margin-top: 5px;
    width: 100px;
    height: 70px;
}

.rainbow-text span:nth-child(1), 
    span:nth-child(10), span:nth-child(14),
    span:nth-child(18), span:nth-child(26){
        color: rgb(253, 129, 13); 
    }

.rainbow-text span:nth-child(2),span:nth-child(15),
    span:nth-child(8), span:nth-child(19), span:nth-child(23){
        color: purple;
    }

.rainbow-text span:nth-child(3), span:nth-child(9),
    span:nth-child(22), span:nth-child(16), span:nth-child(28){
        color: rgb(208, 98, 2); 

    }

.rainbow-text span:nth-child(4), span:nth-child(11),span:nth-child(7),
    span:nth-child(21), span:nth-child(17), span:nth-child(27){
        color: red; 
    }   

.rainbow-text span:nth-child(5), span:nth-child(12),
    span:nth-child(20), span:nth-child(25){
        color: blue;
    }
.rainbow-text span:nth-child(6), span:nth-child(13),
    span:nth-child(24){
        color: green;
    }

.rainbow-text{
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    text-align: center;
}

.navbar{
    background-color: yellow;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin : 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navbar li{
    margin: 0 15px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 1em;
}

.blue-middle-bar{
    background-color: lightblue;
    height: 175px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 10px;

}
.icon-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    font-size: .85em;

}

.icon-text img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.about{
    background-color: rgb(233, 104, 240);
    font-family: 'Arial',sans-serif;
}

.about-page{
    background-color: rgb(251, 181, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;

}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.grid-item{
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: .5em;
}

.grid-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.bold{
    font-weight: bold;
}

.story-time{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
}

.story-time-img{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-time-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.text-left, .text-right{
    width: 33.3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 100px;
}

.footer-section{
    flex: 2;
    text-align: center;
}

.footer-divider{
    width: 5px;
    height: 100px;
    background-color: white;
    margin: 0 10px;
}


