html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; 
    overflow-y: auto;
    width: 100vw;
    max-width: 100%;
}


body{
    font-family: 'Baloo 2', cursive;
}

header{
   height : auto;
}

.header-top{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.home-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(254, 110, 13, 0.83), rgba(227, 131, 13, 0.5));
}


.home-img img {
    width: 100%;
    height: auto;
    max-height: 62vh; /* Set a specific height to make the image smaller */
    object-fit: contain;
    flex-direction: row;
    background-position: center top;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.stick-logo{
    margin-top: 5px;
    width: 12em;
    height: 12em;
}

.rainbow-text span:nth-child(1), 
    span:nth-child(10), span:nth-child(14),
    span:nth-child(18), span:nth-child(26){
        color: rgb(255, 123, 0); 
    }

.rainbow-text span:nth-child(2),span:nth-child(15),
    span:nth-child(8), span:nth-child(19), span:nth-child(23){
        color: purple;
    }

.rainbow-text span:nth-child(3), span:nth-child(9),
    span:nth-child(22), span:nth-child(16), span:nth-child(28){
        color: rgb(208, 98, 2); 

    }

.rainbow-text span:nth-child(4), span:nth-child(11),span:nth-child(7),
    span:nth-child(21), span:nth-child(17), span:nth-child(27){
        color: red; 
    }   

.rainbow-text span:nth-child(5), span:nth-child(12),
    span:nth-child(20), span:nth-child(25){
        color: blue;
    }
.rainbow-text span:nth-child(6), span:nth-child(13),
    span:nth-child(24){
        color: green;
    }

.rainbow-text{
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    text-align: center;
    text-shadow: 
      -2px -2px 0 white, 
      2px -2px 0 white, 
      -2px 2px 0 white, 
      2px 2px 0 white;
    font-weight: bold;
}

.navbar{
    background-color: rgba(255, 74, 74, 0.819);
    height: 10vh;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin : 0;
    display: flex;
    min-width: 100%;
    justify-content: space-around;
}

.navbar li{
    margin: 0 15px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    flex: 1 1 auto; /* Makes items flexible */
    font-size: 1.5em;
    white-space: normal; /* Allows text to wrap */
}

.blue-middle-bar{
    background-color: rgba(255, 251, 136, 0.853);
    height: 175px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 10px;

}
.icon-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    font-size: 1em;

}

.icon-text img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

h1{
    align-items: center;
    font-size: 2em;
}
.about{
    background-color: rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674);
    font-family: 'Baloo 2', cursive;
}

.about-page-top{
    background-color: rgba(254, 151, 83, 0.791);
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    height: 30vh;
    width: 100%;
}

.about-page-header{
    font-size: 2.5em;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    height: 15vh;
    background-color: rgba(254, 151, 83, 0.791);
    padding-top: 20px;
}

.about-page-top img{
    width: 20vh;
    height: auto;
    object-fit: contain;
    padding-right: 20px;
}

.about-page-two{
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    font-family: 'Baloo 2', cursive;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

.about-page-two img{
    width: 15vh;
    height: auto;
    object-fit: contain;
    padding-left: 20px;
}

.about-page-three{
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
    font-family: 'Baloo 2', cursive;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

.about-page-three img{
    width: 20vh;
    height: auto;
    object-fit: contain;
    padding-right: 20px;
}

.grid-container{
    display: grid;
    grid-template-rows: auto;
}

.grid-item{
    display : flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 1em;
}



.story-time{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
}

.story-time-img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-time-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.text-left, .text-right{
    width: 33.3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer{
    background-color: rgba(187, 119, 255, 0.912);
    color: rgb(24, 2, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 100px;
}

.footer-section{
    flex: 2;
    text-align: center;
}

.footer-divider{
    width: 5px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin: 0 10px;
}

/*grid container so that picture is on right and words on
left
*/
.story-hour-outer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(255, 146, 73, 0.765), rgba(227, 131, 13, 0.5));
    height: auto;
    width: 100%;
}

.story-hour-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 20px;
}

.story-hour-header{
    font-size: 2em;
    font-weight: bold;
}

.story-hour-outer img{
    max-width:100%;
    max-height: 100%;
    object-fit: contain;
}

.puppet-outer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    height: auto;
    width: 100%;
    
}

.puppet-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-right: 20px;
}

.puppet-outer img{
    width: 30vh;
    height: auto;
    margin-left: 40px;
    object-fit: cover;
    align-items: center;
}

.puppet-outer-two{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
    height: auto;
    width: 100%;
}

.puppet-outer-two img{
    width: 30vh;
    height: auto;
    margin-left: 30px;
    object-fit: cover;
    align-items: center;
}

.puppet-words-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 40px;
}

.involve-outer-one{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(255, 146, 73, 0.765), rgba(227, 131, 13, 0.5));
    height: auto;
    width: 100%;
}

.involve-header{
    font-size: 2em;
    font-weight: bold;
}

.involve-outer-words-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 20px;
}

.involve-outer-one img{
    max-width:100%;
    max-height: 100%;
    object-fit: contain;
}

.involve-outer-two{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    height: auto;
    width: 100%;
}

.involve-words-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-right: 20px;
}

.involve-outer-two img{
    width: 30vh;
    height: auto;
    margin-left: 40px;
    object-fit: cover;
    align-items: center;
}

.involve-outer-three{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
    height: auto;
    width: 100%;
}

.involve-outer-three img{
    width: 30vh;
    height: auto;
    margin-left: 30px;
    object-fit: cover;
    align-items: center;
}

.involve-words-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    margin-left: 40px;
}

/*Make home page text boxes interactive*/
.text-container {
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-grow: 1;
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
    flex-direction: column;  
  }

  /* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .text-container {
        height: 60vh; /* Adjust height for smaller screens */
    }
    .text-box{
        font-size: .8em;
    }
    .navbar{
        font-size: .5em;
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 480px) {
    .text-container {
        height: 60vh; /* Adjust height for smaller screens */
    }
    .text-box{
        font-size: .8em;
    }
    .navbar{
        font-size: .4em;
    }
    .footer{
        font-size: .6em;
    }
}
  .text-box {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    box-sizing: border-box;
  }

  .text-box h2{
    font-size: 1.5em;
  }
 
  button, .arrow {
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
  }

  .team-header-top{
    background-color: rgba(254, 151, 83, 0.791);
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    height: 30vh;
  }

  .team-header-top img{
    width: 20vh;
    height: auto;
    object-fit: cover;
    padding-right: 20px;
  }



.rainbow-line {
    height: 5px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-color: transparent;
}

/*New code to make grid team page*/
.team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    flex-grow: .5;
    
}

.team-member{
    display:flex; 
    flex-direction: row;
    align-items: center;
    text-align:center;
    cursor: pointer;
    padding: 20px;
    color: black; 
    height: 350px;
}

.team-member img{
    width: 50%; 
    height: 100%;   
    object-fit: cover;

}
.team-member .info {
    width: 50%; /* Text takes up half */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black; 
    padding: 0 10%; /* Centers text properly */
}

.member1{
    background-color: rgba(254, 151, 83, 0.791);
}

.member2{
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
}

.member3{
    background: linear-gradient(rgba(202, 255, 250), rgba(33, 255, 233, 0.5));
}

.member4{
    background:linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
}

.member-detail{
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 160px);
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto
}

.member-detail img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.member-detail button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.team-member-link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Ensures text colors stay the same */
    display: block; /* Ensures it behaves like a div */
    display: inline-block;
    width: 100%;
}

/*Team member profile page*/
/* Profile container */
.profile-container-4 {
    display: flex;
    width: 100%;
    height: 70vh;
    max-width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));

}

/* Profile container */
.profile-container-2 {
    display: flex;
    width: 100%;
    height: 70vh;
    max-width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));

}
.profile-container-3 {
    display: flex;
    width: 100%;
    height: 70vh;
    max-width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(rgba(202, 255, 250), rgba(33, 255, 233, 0.5));

}

.profile-container-1 {
    display: flex;
    width: 100%;
    height: 70vh;
    max-width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(254, 151, 83, 0.791);

}


/* Left side: Image */
.profile-image {
    width: 50%;
    height: 100%;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-image-cover{
    width: 50%;
    height: 100%;
}

.profile-image-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Right side: Info */
.profile-info {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: .9em;
    overflow-y: auto;
}

.profile-info h1{
    font-size: 2em;
}

.events{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*Book design for story hour*/
.book-container-1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(255, 80, 214, 0.813), rgba(255, 94, 252, 0.674));
}
/*Book design for story hour*/
.book-container-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
}
.book-container-3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(202, 255, 250), rgba(33, 255, 233, 0.5));;
}

.book-container-4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(254, 151, 83, 0.791), rgba(227, 131, 13, 0.5));
}


.book {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.book img {
    width: 100%;
    height: 100%;
    object-fit: contain;;
}

.book-info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
}
.book-info h2{
    font-size: 1.5em;
}

.book-info button {
    margin-top: 50px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(98, 231, 217);
    color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}



.rainbow-button{
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.events-buttons{
    background-color: linear-gradient(rgba(255, 198, 170, 0.813), rgba(237, 255, 159, 0.674));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rainbow-button:hover {
    background-color: rgba(240, 240, 240, 0.8);
}
/*Layout of events page with 4 info icons*/
.container {
    display: flex;
    height: 100vh; /* Full height of viewport */
}

.icons-section {
    width: 67%; /* Takes 2/3 of the screen */
    display: grid;
    flex-direction: column; /* Stack icons in a column */
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgba(202, 255, 250), rgba(33, 255, 233, 0.5));
}

.icon-row {
    display:flex;
    align-items: center;
    gap: 15px; 
    padding-left : 20px;
    font-size: 2em;
}



.icon-row img {
    width: 80px; /* Adjust size */
    height: auto;
}

.text-section {
    width: 33%; /* Takes 1/3 of the screen */
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
}

.text-section h2{
    font-size: 2em;
}
.icons-section-involve {
    width: 50%; /* Takes 2/3 of the screen */
    display: grid;
    flex-direction: column; /* Stack icons in a column */
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgba(202, 255, 250), rgba(33, 255, 233, 0.5));
}

.text-section-involve {
    width: 50%; /* Takes 1/3 of the screen */
    background: linear-gradient(rgba(254, 246, 13, 0.773), rgba(253, 250, 55, 0.579));
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
}

.text-section-involve h2{
    font-size: 2em;
}

.icon-row-involve {
    display:flex;
    align-items: center;
    gap: 15px; 
    padding-left : 20px;
    font-size: 1em;
}

.involve-text{
    display: flex;
    flex-direction: column;
}

.involve-text h2{
    font-size: 1.5em;
}   

.icon-row-involve img {
    width: 150px; /* Adjust size */
    height: auto;
}
.container-involve{
    display: flex;
    height: 100%; /* Full height of viewport */
}

.about-page-left{
    width: 75%; /* Takes 2/3 of the screen */
    display: flex;
    flex-direction: column; /* Stack icons in a column */
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    background: linear-gradient(rgba(202, 255, 250), rgba(33, 255, 233, 0.5));
}
.about-page-left h2{
    font-size: 2em;
    margin: 0px;
}

.about-container{
    display: flex;
    height: 100vh; /* Full height of viewport */
}